@import "../../globalcss/colors.css";
@import "../../globalcss/font.css";
@import "../../globalcss/global.css";

body {
  font-family: var(--primary-font);
}

.custom-container {
  background-image: url("../../images/form/formbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: border-box;
}

.custom-container .row {
  width: 100%;
  margin: 0;
  padding: 0;
}

.custom-container .row i {
  color: var(--totalcart-color);
}

.custom-container .row .col-12 form fieldset h4 {
  color: var(--primary-color);
  word-spacing: 3px;
}

.custom-container .row .col-12 form fieldset .icon-container i {
  color: rgb(75, 74, 74);
  border: 2px solid #bdc3c7;
  font-size: 1.1rem;
  padding: 0.5rem 0.6rem;
  border-radius: 25px;
  cursor: pointer;
}

.custom-container .row .col-12 fieldset .icon-container .fa-facebook-f {
  padding: 0.5rem 0.7rem;
}

/** Hover on social media icons **/
.custom-container .row .col-12 fieldset .icon-container .fa-facebook-f:hover {
  color: #1877f2;
  transition: all 0.5s ease;
}

.custom-container .row .col-12 fieldset .icon-container .fa-google:hover {
  color: #ea4335;
  transition: all 0.5s ease;
}

.custom-container .row .col-12 fieldset .icon-container .fa-linkedin-in:hover {
  color: #0a66c2;
  transition: all 0.5s ease;
}

.custom-container .row .col-12 form fieldset .input-field i {
  font-size: 1.2rem;
}

.custom-container .row .col-12 form fieldset .shop-field .custom-icon,
.custom-container .row .col-12 form fieldset .contact-field .custom-icon,
.custom-container .row .col-12 form fieldset .email-field .custom-icon,
.custom-container .row .col-12 form fieldset .input-field .address-field .custom-icon,
.custom-container .row .col-12 form fieldset .input-field .password-field .custom-icon,
.custom-container .row .col-12 form fieldset .input-field .username-field .custom-icon {
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 1.1rem;
  padding: 0.6rem 0 0.6rem 3rem;
}

.custom-container .row .col-12 form fieldset .input-field .btn-container .btn {
  background-color: transparent;
  border: 3px solid var(--primary-color);
  padding: 0.7rem 4rem;
  outline: none;
  color: var(--primary-color);
  border-radius: 50px;
  font-family: var(--primary-font);
}

.custom-container .row .col-12 form fieldset .input-field .btn-container .btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.custom-container .row .col-12 form fieldset .input-field .btn-container .btn:focus {
  box-shadow: none;
}

/** On Select change css */
.custom-container .row .block {
  display: block !important;
}

.custom-container .row .none {
  display: none !important;
}

.column-second {
  display: none;
}